<header>
	<h1>Minilist</h1>
	<a href="/logout">Log out</a>
</header>
<section id="lists">		
	<input type="text" placeholder="New list of tasks">
	<nav>
	</nav>
</section>
<section id="tasks">
	<input type="text" placeholder="New task">
	<ul>
	</ul>
</section>